@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --layer: gray;
  --focus: #2d3549;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background: #181d27;
  --layer: #1e2431;
  --focus: #2d3549;
  --text-primary: #ffffff;
  --text-secondary: #373d4c;
  --accent: #3a78ff;
}

@layer base {
  body {
    @apply font-poppins text-gray-100;
  }

  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
}

@layer utilities {
  .heading-2xl {
    @apply text-2xl font-bold text-textPrimary;
  }

  .heading-xl {
    @apply text-xl font-bold text-textPrimary;
  }

  .heading-lg {
    @apply text-lg font-bold text-textPrimary;
  }

  .paragraph-sm {
    @apply text-[24px] font-normal leading-[31.2px];
  }

  .paragraph-md {
    @apply text-xl font-normal leading-[26px];
  }

  .paragraph-lg {
    @apply text-[20px] font-semibold leading-[26px];
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}
