@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins text-gray-100;
  }

  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-[64px] leading-[67.2px] font-bold;
  }

  .heading-2 {
    @apply font-bold text-[48px] leading-[50.4px];
  }

  .heading-3 {
    @apply font-bold sm:text-[32px] sm:leading-[33.6px] text-[28px] leading-[40px] tracking-[-0.25%];
  }

  .heading4 {
    @apply font-semibold text-[20px] leading-[26px] tracking-[0.25%];
  }

  .paragraph-sm {
    @apply text-[24px] font-normal leading-[31.2px];
  }

  .paragraph-md {
    @apply text-xl font-normal leading-[26px];
  }

  .paragraph-lg {
    @apply text-[20px] font-semibold leading-[26px];
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}
